################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Code/FlameIris.PrivilegeSys/FlameIris.EntityFrameworkCore/obj
/Code/FlameIris.PrivilegeSys/FlameIris.EntityFrameworkCore/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/FlameIris.Domain/obj
/Code/FlameIris.PrivilegeSys/FlameIris.Domain/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/FlameIris.Application/obj
/Code/FlameIris.PrivilegeSys/FlameIris.Application/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/FlameIris.Api/obj
/Code/FlameIris.PrivilegeSys/FlameIris.Api/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/.vs/FlameIris.PrivilegeSys/v15
/.vs
/Code/FlameIris.PrivilegeSys/.vs/config
/Code/FlameIris.PrivilegeSys/FlameIris.Utility/obj
/Code/FlameIris.PrivilegeSys/FlameIris.Utility/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/04.Infrastructure/FlameIris.Utility/obj
/Code/FlameIris.PrivilegeSys/04.Infrastructure/FlameIris.Utility/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/04.Infrastructure/FlameIris.EntityFrameworkCore/obj
/Code/FlameIris.PrivilegeSys/04.Infrastructure/FlameIris.EntityFrameworkCore/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/03.Domain/FlameIris.Domain/obj
/Code/FlameIris.PrivilegeSys/03.Domain/FlameIris.Domain/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/02.Application/FlameIris.Application/obj
/Code/FlameIris.PrivilegeSys/02.Application/FlameIris.Application/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/01.Presentation/FlameIris.Api/obj
/Code/FlameIris.PrivilegeSys/01.Presentation/FlameIris.Api/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/01.Presentation/FlameIris.Api/bin/Release
/Code/FlameIris.PrivilegeSys/02.Application/FlameIris.Application/bin/Release/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/03.Domain/FlameIris.Domain/bin/Release/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/04.Infrastructure/FlameIris.Utility/bin/Release/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/04.Infrastructure/FlameIris.EntityFrameworkCore/bin/Release/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/OcelotGateway/obj
/Code/FlameIris.PrivilegeSys/OcelotGateway/bin
/Code/FlameIris.PrivilegeSys/ConsulServiceManagement/obj
/Code/FlameIris.PrivilegeSys/ConsulServiceManagement/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/obj/project.assets.json
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/obj/Debug/netcoreapp2.0/ConsuleServiceClient.pdb
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/obj/Debug/netcoreapp2.0/ConsuleServiceClient.dll
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/obj/Debug/netcoreapp2.0/ConsuleServiceClient.csprojResolveAssemblyReference.cache
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/obj/Debug/netcoreapp2.0/ConsuleServiceClient.csproj.FileListAbsolute.txt
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/obj/Debug/netcoreapp2.0/ConsuleServiceClient.csproj.CoreCompileInputs.cache
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/obj/Debug/netcoreapp2.0/ConsuleServiceClient.AssemblyInfoInputs.cache
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/obj/Debug/netcoreapp2.0/ConsuleServiceClient.AssemblyInfo.cs
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/obj/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/obj/ConsuleServiceClient.csproj.nuget.g.targets
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/obj/ConsuleServiceClient.csproj.nuget.g.props
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/obj/ConsuleServiceClient.csproj.nuget.cache
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/obj
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/bin/Debug/netcoreapp2.0/ConsuleServiceClient.runtimeconfig.json
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/bin/Debug/netcoreapp2.0/ConsuleServiceClient.runtimeconfig.dev.json
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/bin/Debug/netcoreapp2.0/ConsuleServiceClient.pdb
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/bin/Debug/netcoreapp2.0/ConsuleServiceClient.dll
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/bin/Debug/netcoreapp2.0/ConsuleServiceClient.deps.json
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/ConsuleServiceClient
