################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Code/FlameIris.PrivilegeSys/FlameIris.EntityFrameworkCore/obj
/Code/FlameIris.PrivilegeSys/FlameIris.EntityFrameworkCore/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/FlameIris.Domain/obj
/Code/FlameIris.PrivilegeSys/FlameIris.Domain/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/FlameIris.Application/obj
/Code/FlameIris.PrivilegeSys/FlameIris.Application/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/FlameIris.Api/obj
/Code/FlameIris.PrivilegeSys/FlameIris.Api/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/.vs/FlameIris.PrivilegeSys/v15
/.vs
/Code/FlameIris.PrivilegeSys/.vs/config
/Code/FlameIris.PrivilegeSys/FlameIris.Utility/obj
/Code/FlameIris.PrivilegeSys/FlameIris.Utility/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/04.Infrastructure/FlameIris.Utility/obj
/Code/FlameIris.PrivilegeSys/04.Infrastructure/FlameIris.Utility/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/04.Infrastructure/FlameIris.EntityFrameworkCore/obj
/Code/FlameIris.PrivilegeSys/04.Infrastructure/FlameIris.EntityFrameworkCore/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/03.Domain/FlameIris.Domain/obj
/Code/FlameIris.PrivilegeSys/03.Domain/FlameIris.Domain/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/02.Application/FlameIris.Application/obj
/Code/FlameIris.PrivilegeSys/02.Application/FlameIris.Application/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/01.Presentation/FlameIris.Api/obj
/Code/FlameIris.PrivilegeSys/01.Presentation/FlameIris.Api/bin/Debug/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/01.Presentation/FlameIris.Api/bin/Release
/Code/FlameIris.PrivilegeSys/02.Application/FlameIris.Application/bin/Release/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/03.Domain/FlameIris.Domain/bin/Release/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/04.Infrastructure/FlameIris.Utility/bin/Release/netcoreapp2.0
/Code/FlameIris.PrivilegeSys/04.Infrastructure/FlameIris.EntityFrameworkCore/bin/Release/netcoreapp2.0
